* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: $font-family-primary;
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;
  color: var(--color-text-secondary);
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}
